@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  src: url('../assets/fonts/Poppins/Poppins-ExtraLight.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-display: swap;
}

:root {
  /* Primary Colors */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);

  /* Neutral Colors */
  --color-dark: hsl(234, 12%, 34%);
  --color-medium: hsl(229, 6%, 46%);
  --color-light: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);

  /* Font Family */
  --ff-primary: 'Poppins', sans-serif;

  /* Font Size */
  --fs-48: 3rem;
  --fs-36: 2.25rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-16: 1rem;
  --fs-15: 0.9375rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
  /* Font Weights */
  --fw-900: 900;
  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;
  --fw-200: 200;

  /* Spacing */
  --spacing: 1rem;
}

/********* Reset Styles *********/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: var(--color-light);
  color: var(--color-medium);
  font-family: var(--ff-primary);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.67;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.wrapper {
  margin: 0 auto;
  max-width: 69.375rem;
  margin-inline: auto;

  width: 90%;
}

.wrapper__narrow {
  margin: 0 auto;
  max-width: 33.75rem;
}

.card-grid {
  display: grid;
  gap: calc(var(--spacing) * 1.5);
  grid-template-columns: repeat(auto-fit, minmax(240px, 330px));
  justify-content: center;

  max-width: 69.375rem;
}

@media (min-width: 65.625em) {
  .card-grid {
    gap: calc(var(--spacing) * 2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      '... two ....'
      'one two four'
      'one three four'
      '... three ....';
  }

  .card:nth-child(1) {
    grid-area: one;
  }

  .card:nth-child(2) {
    grid-area: two;
  }

  .card:nth-child(3) {
    grid-area: three;
  }

  .card:nth-child(4) {
    grid-area: four;
  }
}

/********* Typography *********/
h1,
h2 {
  color: var(--color-dark);
  font-weight: var(--fw-600);
  line-height: 1.4;
}

h1 {
  font-size: clamp(1.5rem, 1.117rem + 1.633vi, 2.25rem);
  font-weight: var(--fw-600);
  margin-block-end: var(--spacing);
}

h1 > span {
  font-weight: var(--fw-200);
}

h2 {
  font-size: var(--fs-20);
}

/********* Header Styles *********/
header {
  margin-block: 5rem;
  text-align: center;
}

/********* Card Styles *********/
.card {
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0px 15px 30px -11px hsla(213, 47%, 67%, 0.5);
  padding: calc(var(--spacing) * 2);
}

.card__image {
  margin-left: auto;
  margin-block-start: 2rem;
}

.card--cyan {
  border-top: 3.55px solid var(--color-cyan);
}
.card--red {
  border-top: 3.55px solid var(--color-red);
}
.card--orange {
  border-top: 3.55px solid var(--color-orange);
}
.card--blue {
  border-top: 3.55px solid var(--color-blue);
}

/********* Attribution Styles *********/
.attribution {
  font-size: 11px;
  margin-block-start: 2rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
